/*popup*/
.popup-overflow{
    overflow: hidden;
}
.popup{
    position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;
    overflow-y:scroll;
    background:rgba(0,0,0,.1);
}
.popup > .popup-inner{
    padding:30px 0; 
    margin: 0 auto;
}
.popup > .popup-close{
    position:fixed;top:20px;right:20px;z-index:110;
    display:block;
    width:40px;height:40px;text-align:center;
    line-height:40px;font-size:30px;color:#ddd;
    text-decoration: none;
    color: #900;
}
.popup > .popup-close:hover{
    color: #c00;
}

/*ui-confirm*/
.ui-confirm{
    padding: 0 1em 1em;
    background:#f1f1f1;
    box-shadow:0 0 0 5px rgba(255,255,255,.3);
}
.ui-confirm-title{
    margin-bottom:10px;
    font-size:18px;line-height:48px;
    color:#666;
    border-bottom:1px solid #ddd;
}
.ui-confirm-title span{margin-right:10px;font-size:32px;}
.ui-confirm-submit, .ui-confirm-cancel{float:right;
    display:block;
    padding:0 20px;
    line-height:32px;
    background:#ddd;
    border-radius:5px;
    box-shadow:0px 1px 2px rgba(0,0,0,.3);
    text-decoration: none !important;
}
.ui-confirm-cancel{margin-left: 1em;}

.ui-error{margin-bottom:10px;line-height:20px;color:red;}
.ui-error .icon{padding-right:5px;font-size:14px;}